<div id="player-container"
  class="player-box"
  ng-repeat="player in game.players"
  style="background-color:{{colors[player.color]}}">
  <div id="above-czar-container">
    <div class="row">
      <div id="avatar_" class="col-md-2">
        <span ng-show="isPremium($index)">
          <img ng-src="img/king.png" id="king">
        </span>
        <img ng-src="{{player.avatar}}" class="avatar-img" />
      </div>
      <div id="player-container-inner" style="margin-left: 10px; margin-bottom: 0em">
        <div id="player-name" class="col-md-2">
          <p style="font-size: 15px">{{player.username | upperFirstLetter}}</p>
        </div>
      </div>
      <div id="player-score" class="col-md-2 text-left">
        <p style="font-size: 17px">{{player.points}}/{{game.pointLimit}}</p>
      </div>
      <div ng-show="isPlayer($index)" id="player-star" class="col-md-1 text-left">
        <img src="../img/11.png" />
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)">
    <span id='the-czar'>CZAR</span>
  </div>
</div>
