<div id="main-body">
  <!-- Fixed Logo & Menu Bar Start -->
  <nav class="navbar navbar-expand-sm navbar-light navbar-inverse bg-light fixed-top ">
    <a class="navbar-brand" href="/" style="cursor:pointer">
      <span id="cards">Cards</span> For Humanity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link nov mr-3 text-dark" style="border-radius: 10px;">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="#!/signin" class="nav-link  mr-3 text-dark" style="border-radius: 10px;">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" class="nav-link mr-3 text-dark" style="border-radius: 10px;">Donate</a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- Fixed Logo & Menu Bar End -->

  <div>
    <div class="container-fluid">
      <div class="row" style="padding-top: 8em; padding-bottom: 10em">
        <div class="card col-md-6 mx-auto" ng-controller="IndexController" class="more-sign">
          <div class="card-title" style="padding-top: 1em">
            <h4 class="text-center"> Sign Up </h4>
            <div class="card-body">
              <form class="signup text-center " style="padding-top: 1em" ng-submit="signUp()" method="post">
                <div>
                  <div class="form-group" style="padding-left: 12em">
                    <input class="col-md-7 input-text form-control" type="text" ng-model="name" placeholder="Username" required novalidate/>
                  </div>
                  <div class="form-group" style="padding-left: 12em">
                    <input class="col-md-7 input-text form-control" type="email" ng-model="email" placeholder="Email" required novalidate/>
                  </div>
                  <div class="form-group" style="padding-left: 12em">
                    <input class="col-md-7 input-text form-control" type="password" ng-model="password" placeholder="Password" required novalidate/>
                  </div>
                </div>
                <div class="text-centre">
                  <p> Select your avatar: </p>
                  <div class="form-check form-check-inline col-md-7" ng-controller="IndexController">
                    <label class="form-check-label ng-scope" for="{{$index}}" ng-repeat="avatar in avatars">
                      <input class="form-check-input" type="radio" name="avatar" ivalue="{{$index}}" style="padding-bottom: 1em">
                      <img ng-src="{{avatar}}" class="pic">
                    </label>
                  </div>
                </div>

                <div class="text-center" style="padding-top: 1em">
                  <button type="submit" class="btn btn-dark" style="width:10em; cursor:pointer">Sign Up</button>
                </div>
              </form>

              <div class="row" style="padding-top: 3em">
                <hr class="col-md-4 text-right">
                <p class="col-md-1"> OR </p>
                <hr class="col-md-4 text-left">
              </div>

              <div class="text-center" style="padding-top: 1em">
                <p> Sign up with:
                  <a href="/auth/facebook">
                    <i class="fa fa-facebook icons fa-2x" aria-hidden="true"></i>
                  </a>
                  <a href="/auth/github">
                    <i class="fa fa-github icons fa-2x" style="padding-left: 5px" aria-hidden="true"> </i>
                  </a>
                  <a href="/auth/google">
                    <i class="fa fa-google icons fa-2x" style="padding-left: 5px" aria-hidden="true"></i>
                  </a>
                  <a href="/auth/twitter">
                    <i class="fa fa-twitter icons fa-2x" style="padding-left: 5px" aria-hidden="true"></i>
                  </a>
                </p>
              </div>

              <p class="text-center" style="font-size:13px; padding-top: 1em;"> Play as guest?
                <a href="#"> New Game </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
